.top_bar {
    background-color: #3282A7;
    height: 30px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}

.top_bar .title {
    float: left;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 3px 35px 3px 15px;
}

.tab {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    height: 100%;
    width: 80px;
    background-color: inherit;
    font-weight: bold;
    font-size: 15px;
}

.tab:hover {
    background-color: #4090C0;
}

.tab.active {
    background-color: #50A0D0;
}

.contents {
    height: calc(100% - 30px);
    width: 100%;
    margin-top: 30px;
}

.display {
    width: calc(100% - 315px);
    position:absolute;
    top:30px;
    height: calc(100% - 30px);
    visibility: hidden;
}

.display.active {
    visibility: visible !important; }

.display object {
    width: 100%;
    height: 100%;
}

.info_box {
    width: 300px;
    background-color: #E8E8E8;
    height: 100%;
    position: fixed;
    top: 30px;
    right: 0px;
}

.pin_info {
    text-align: center;
    float: left;
    width: 50%;
    height: 80px;
    padding-top: 10px;
    font-weight: bold;
}

.io_info {
    text-align: center;
    float: left;
    width: 100%;
    height: 70px;
    font-weight: bold;
}

.net_info {
    text-align: center;
    float: left;
    width: 100%;
    height: 200px;
    padding-top: 10px;
    font-weight: bold;
}

.info_header {
    font-size: 15px;
}

.info_text {
    font-size: 50px;
    font-weight: bold;
    font-family: inherit;
    margin-top: -10;
    background-color: inherit;
    outline: none;
    text-align: center;
    width: 100%;
    border-width: 0;
    border: none;
}

.net_desc {
    font-size: 14px;
    font-weight: normal;
    width: 100%;
    height: 300px;
    text-align: left;
    margin: 10px;
}
