<html>
    <head>
        <title>AGC Pin Inspector v0.3</title>
        <link rel="stylesheet" href="/static/pin_inspector.css">
        <script src="/static/pin_inspector.js"></script>
        <script src="/static/svg-pan-zoom.js"></script>
        <script type="text/javascript">
            var inspectors;
            var active = 'a';

            function setup_trays() {
                inspectors = {
                    "a": new PinInspector(document.getElementById('tray_a')),
                    "b": new PinInspector(document.getElementById('tray_b')),
                };
                svgPanZoom('#tray_a', {zoomEnabled: true, controlIconsEnabled: true});
                svgPanZoom('#tray_b', {zoomEnabled: true, controlIconsEnabled: true});
            }

            function locate_net() {
                var net_text = document.getElementById("net_text");
                net_text.blur();
                inspectors[active].locate_net(net_text.value);
                return false;
            }

            function traverse_intertray(tab) {
                var target = tab.slice(-1);
                if (target == active) {
                    return;
                }
                var inactive = active;
                active = target;

                var intertray_pin = inspectors[inactive].get_selected_intertray_pin();
                if (intertray_pin == null) {
                    inspectors[active].update_info();
                    return;
                }

                intertray_pin = active.toUpperCase() + intertray_pin.substring(1);
                inspectors[active].select_pin_by_id(intertray_pin);
            }

            function select_tab(evt, tab) {
                traverse_intertray(tab);

                var tab_displays = document.getElementsByClassName("display");
                for (var i = 0; i < tab_displays.length; i++) {
                    tab_displays[i].className = tab_displays[i].className.replace(" active", "");
                }

                var tabs = document.getElementsByClassName("tab");
                for (var i = 0; i < tabs.length; i++) {
                    tabs[i].className = tabs[i].className.replace(" active", "");
                }

                document.getElementById(tab).className += " active";
                evt.currentTarget.className += " active";
            }
        </script>
    </head>
    <body onload="setup_trays();">
        <div class="top_bar">
            <div class="title">AGC Pin Inspector v0.3</div>
            <button class="tab active"   onClick="select_tab(event, 'tab_a')">Tray A</a>
            <button class="tab" onClick="select_tab(event, 'tab_b')">Tray B</a>
        </div>
        <div class="contents">
            <div id="tab_a" class="display active">
                <object id="tray_a" type="image/svg+xml" data="/static/agc_tray_a.svg">
                    Your browser does not support SVG
                </object>
            </div>
            <div id="tab_b" class="display">
                <object id="tray_b" type="image/svg+xml" data="/static/agc_tray_b.svg">
                    Your browser does not support SVG
                </object>
            </div>
            <div class="info_box">
                <div class="pin_info">
                    <div class="info_header">
                        Connector
                    </div>
                    <div id="conn_text" class="info_text">
                        -
                    </div>
                </div>
                <div class="pin_info">
                    <div class="info_header">
                        Pin
                    </div>
                    <div id="pin_text" class="info_text">
                        -
                    </div>
                </div>
                <div class="io_info">
                    <div class="info_header">
                        I/O Type
                    </div>
                    <div class="info_text" id="io_text">
                        -
                    </div>
                </div>
                <div class="net_info">
                    <div class="info_header">
                        Net
                    </div>
                    <form action="#" name="net_form" onsubmit="return locate_net()" >
                        <input name="net" id="net_text" class="info_text" value="-" autocomplete="off" />
                        <input type="submit" style="visibility:hidden;" />
                    </form>
                    <div class="net_desc" id="desc_text">
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
